@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Автобиография";
}

@section ExtraHeadContent {
    <meta name="description" content="Роден съм на 19.01.1990г. в гр. Пловдив, България.Завърших висшето си образование, степен бакалавър, в Пловдивски университет 'Паисий хилендарски' през 2013 г. със специалност 'Информатика'.">
}

<h1>Автобиография</h1>
<img style="margin-right:10px;" src="~/Resources/ivanpopov.jpg" alt="Иван Попов" align="left">
<p><span class="tab"></span>Роден съм на 19.01.1990г. в гр. Пловдив, България.</p>
<p><span class="tab"></span>Завърших висшето си образование, степен бакалавър, в Пловдивски университет "Паисий Хилендарски" през 2013 г. със специалност  "Информатика".</p>
<p><span class="tab"></span>Непосредствено след завършването си записах  магистърска степен, в същия университет, със специалност  "Софтуерни технологии", която също завърших успешно.</p>
<p><span class="tab"></span>От декември 2009г, четири месеца след записването ми в университета, работя в магазин "Метро Пловдив 2", от начало като обикновен сътрудник и впоследствие като продуктов консултант.</p>
<p><span class="tab"></span>Работата ми в магазина ме научи да работя в екип, да работя с клиенти, да си планирам работния ден и приоритизирам задачите си.</p>
<p><span class="tab"></span>През останалото време решавам курсове от <a href="http://telerikacademy.com" target="_blank"><b>Софтуерна академия "Телерик"</b></a> и <a href="http://softuni.bg" target="_blank"><b>"Софтуерен университет"</b></a>, както и мой лични проекти. Част от тях могат да се видят в моя Github акаунт - <a href="http://github.com/ivanpop" target="_blank"><b>github.com/ivanpop</b></a></p>
<p><span class="tab"></span>Като хоби имам YouTube канал, в който качвам кадри от игри и показвам дългите години придобит опит със снайпера и двуцевката. ;) - <a href="http://www.youtube.com/user/unfragablegaming" target="_blank"><b>unfragablegaming</b></a></p>
<p><span class="tab"></span>Целта ми е да работя в IT-сферата и да продължавам да си развивам уменията на програмист.</p><hr>
<h2>Образование</h2>
<p><span class="tab"></span>2014 - <a href="http://uni-plovdiv.bg" target="_blank"><b> ПУ "Паисий Хилендарски"</b></a> - Магистър, специалност "Софтуерни технологии".</p>
<p><span class="tab"></span>2013 - <a href="http://uni-plovdiv.bg" target="_blank"><b> ПУ "Паисий Хилендарски"</b></a>  - Бакалавър, специалност "Информатика".</p>
<p><span class="tab"></span>2009 - <a href="http://www.pghtt.net" target="_blank"><b> ПГХТТ</b></a> - средно образование.</p>
<p><span class="tab"></span>1997 - <a href="http://rainakniaginia.com" target="_blank"><b> ОУ "Райна Княгиня"</b></a> - основно образование.</p><hr>
<h2>Трудов опит</h2>
<p><span class="tab"></span>01/2015 - Системен администратор в  <a href="http://www.plovdiv.bg" target="_blank"><b>"Община Пловдив"</b></a>.</p>
<p><span class="tab"></span>12/2009 - 07/2014 - Сътрудник и Продуктов консултант в магазин <a href="http://www.metro.bg" target="_blank"><b>"Метро 2 Пловдив"</b></a>.</p>
<p><span class="tab"></span>11/2012 - 04/2013 - Оператор въвеждане на данни в <a href="http://stildecor.bg" target="_blank"><b>“Highstyle” Ltd</b></a>.</p><hr>
<h2>Компютърни умения</h2>
<p><span class="tab"></span><b>Езици за програмиране:</b></p>
<p><span class="tab2"></span>C#, C++, Java, JavaScript;</p>
<p><span class="tab"></span><b>Технологии и стандарти:</b></p>
<p><span class="tab2"></span>ASP.NET Web Forms/MVC, SQL Server;<br /><span class="tab2"></span>HTML5, CSS3, jQuery;</p>
<p><span class="tab"></span><b>Операционни системи:</b></p>
<p><span class="tab2"></span>Административни умения с Windows XP, Vista, 7, 8/8.1;<br /><span class="tab2"></span>Linux: Ubuntu дистрибуции, Arch Linux, OpenSUSE;</p>
<p><span class="tab"></span><b>Програми за разработка:</b></p>
<p><span class="tab2"></span>.NET - MS Visual Studio 2013 for Desktop, MS Visual Studio 2013 for Web, MonoDevelop;<br /><span class="tab2"></span>C++ - CodeBlocks, Microsoft Visual Studio 6.0;<br /><span class="tab2"></span>Java - Eclipse, NetBeans;<br /><span class="tab2"></span>Database - SQL Server Management Studio, phpMyAdmin;<br /><span class="tab2"></span>Notepad++;</p>
<p><span class="tab"></span><b>Други компютърни умения:</b></p>
<p><span class="tab2"></span>Отлични умения с MS Word, Excel, PowerPoint, LibreOffice, OpenOffice;</p>
<p><span class="tab2"></span>Обработка на видео, аудио и изображения - Adobe Photoshop, GIMP, Adobe Premiere Pro,<br /><span class="tab2"></span>Sony Vegas PRO, Audacity;</p>