@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "За мен";
}

<h1>За мен</h1>
<p>Здравейте,</p>
<p><span class="tab"></span>My name is Ivan Popov and I'm a computer programmer.</p>
<p><span class="tab"></span>This is my personal web page. Here you will find information about me and projects I'm working on.</p>
<p><span class="tab"></span>My interests are mainly in the field of information technology, programming languages and their programming environments.</p>