@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "За мен";
}

@section ExtraHeadContent {
    <meta name="description" content="Казвам се Иван Попов и съм програмист.Това е моята лична интернет страница.Тук ще намерите информация за мен и актуалните проекти, по които работя активно.Моите интереси са основно в областта на Информационните Технологии, Езиците за програмиране и Средите за програмиране.">
    <meta name="author" content="Иван Попов">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>За мен</h1>
<p>Здравейте,</p>
<p><span class="tab"></span>Казвам се Иван Попов и съм програмист.</p>
<p><span class="tab"></span>Това е моята лична интернет страница.Тук ще намерите информация за мен и актуалните проекти, по които работя активно.</p>
<p><span class="tab"></span>Моите интереси са основно в областта на Информационните Технологии, Езиците за програмиране и Средите за програмиране.</p>
<h2>За сайта</h2>
<p>
    <span class="tab"></span>Сайта се появи от идеята да изпробвам ASP.NET и по-точно Web forms. Началният сайт използваше ASP.NET Web forms и имаше доста опростен дизайн и структура.<br />
    И все пак, описах някои от проектите си в него, добавих малко ефекти и се получи един сравнително привлекателен  и лесен за използване уеб сайт.<br />
    Избрах ASP.NET защото ми харесва идеята да мога да използвам .NET програмен език като основа за проекта ми.<br />
    Вече бях започнал да се занимавам с C# и да пиша десктоп приложения с него и това беше добро решение да си направя сайт, без да започвам да уча нов език като PHP или нови технологии като JSP.<br />
    <span class="tab"></span>Това е един вид пряк път, за човек занимаващ се с десктопски приложения, бързо и лесно да премине към уеб-програмирането и уеб-сървисите.<br />
    <span class="tab"></span>С течение на времето реших да изпробвам и MVC модела на създаване на сайтове. Използвайки различни уроци и примери, успях да прехвърля сайта в този вид модел, като прехвърлих вече описаните си проекти.<br />
    <span class="tab"></span>Крайният резултат е сайта който виждате в момента. Той отговаря на всички стандарти и е оптимизиран чрез редица техники, за да може да работи максимално бързо и ефективно.
</p>
    <h3>MVC</h3>
<p>
    <span class="tab"></span>MVC (Model-View-Controller) представлява начин за проектиране в програмирането, който разделя приложенията на три основни части - логиката на приложението (Модел), обработване на командите от потребителя (Контролер) и графичният интерфейс (Изглед).<br />
    Контролерът приема заявки от потребителя и ги преобразува в команди, които моделът трябва да обработи. Контролерът може да изпраща команди и към изгледа. Моделът е главният компонент от MVC. Той съхранява данните и правилата на приложението. Данните се поискват от контролера, обработват се в модела и за изобразяват в изгледа<br />
    Предимството на този тип шаблон е че трите части могат да бъдат променяни поотделно. Един модел може да използва различни изгледи, контролерът и изгледът могат да се променят без да се налага промяна в модела и моделът може да бъде създаден независимо от другите две части.<br />
    Друго предимство е че почти цялото приложение се обработва от сървъра. Потребителя вижда само изгледа и изпраща заявки, под формата на линкове и попълнени уеб-форми, които се приемат от контролера на сървъра, обработват се от модела и обновения изглед се изпраща обратно към него.
</p>