@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "За мен";
}

@section ExtraHeadContent {
    <meta name="description" content="Казвам се Иван Попов и съм програмист.Това е моята лична интернет страница.Тук ще намерите информация за мен и актуалните проекти, по които работя активно.Моите интереси са основно в областта на Информационните Технологии, Езиците за програмиране и Средите за програмиране.">
    <meta name="author" content="Иван Попов">
}

<h1>За мен</h1>
<p>Здравейте,</p>
<p><span class="tab"></span>Казвам се Иван Попов и съм програмист.</p>
<p><span class="tab"></span>Това е моята лична интернет страница.Тук ще намерите информация за мен и актуалните проекти, по които работя активно.</p>
<p><span class="tab"></span>Моите интереси са основно в областта на Информационните Технологии, Езиците за програмиране и Средите за програмиране.</p>