@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Проекти";
}

<h1>Проекти</h1><br />
<p>Тук съм показал някои от проектите върху които работя.</p><br/>
<ul type="square">
    <li id="listing"><a href="url">Countdown timer & Stopwatch</a></li>
    <li id="listing"><a href="url">Ryu: The Big Adventure!</a></li>
    <li id="listing"><a href="url">C# for Dummies</a></li>
    <li id="listing"><a href="url">Converter</a></li>
</ul>