
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraHeadContent {
    <meta name="description" content="Можете да се свържете с мен като ми изпратите писмо на пощата, по Skype или с формата за контакти.">
    <meta name="author" content="Иван Попов">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>Писмото беше изпратено успешно</h1>

<b>&#9642; @Html.ActionLink("Обратно към началната страница", "Index", "Home")</b>

