@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right" style="margin-right:30px">
    <li><a href="javascript:void(0);" onclick="increaseSize()" title="Increase font size">+A</a></li>
    <li><a href="javascript:void(0);" onclick="decreaseSize()" title="Decrease font size">-A</a></li>
</ul>
