@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right" style="margin-right:30px">
    <li><a href="javascript:void(0);" onclick="increaseSize()" title="Увеличи размера на шрифта">+A</a></li>
    <li><a href="javascript:void(0);" onclick="decreaseSize()" title="Намали размера на шрифта">-A</a></li>
</ul>
