@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right" style="margin-right:30px">
    <li><a href="javascript:void(0);" onclick="increaseSize()" style="font-size:20px; padding-right:0px;" title="Увеличи размера на шрифта">+A</a></li>
    <li><a href="javascript:void(0);" onclick="decreaseSize()" style="font-size:12px" title="Намали размера на шрифта">-A</a></li>
</ul>
