@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right">
    <li><a href="javascript:void(0);" onclick="increaseSize()" id="incrFont" title="Увеличи размера на шрифта">+A</a></li>
    <li><a href="javascript:void(0);" onclick="defaultSize()" id="defFont" title="Стандартен размер на шрифта">A</a></li>
    <li><a href="javascript:void(0);" onclick="decreaseSize()" id="decrFont" title="Намали размера на шрифта">-A</a></li>
</ul>
