@{
    ViewBag.Title = "Converter";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

@section ExtraHeadContent {
    <meta name="description" content="The program is written in C# and it's a simple converter of metric units. Different metric units can be seen in the image below.">
}

<h1>Converter</h1>
<p><span class="tab"></span>The program is written in C# and it's a simple converter of metric units. Different metric units can be seen in the image below.</p>
<span class="tab"></span><img src="~/Resources/converter1.jpg" alt="Converter" /><br /><br />
<span class="tab"></span><b>Source: <a href="https://github.com/ivanpop/Converter">Github</a></b>
<span class="tab"></span><b>Download: <a href="~/Resources/converter.rar" target="_blank">Link</a></b><br /><br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Back</a>