@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MVC Personal Website";
}

@section ExtraHeadContent {
    <meta name="description" content="On this page, I've described how I made my website. I've used the .NET MVC technology.">
    <meta name="author" content="Ivan Popov">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>MVC Personal Website</h1>
<br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Back</a>