@{
    ViewBag.Title = "PPWCalculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraHeadContent {
    <meta name="description" content="The program is written in C# and it calculates the price for watt according to the Bulgarian electricity providers prices.">
    <meta name="author" content="Ivan Popov">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>PPWCalculator</h1>
<p><span class="tab"></span>The program is written in C# and it calculates the price for watt according to the Bulgarian electricity providers prices.</p>
<span class="tab"></span><img src="~/Resources/PPWCalculator.PNG" alt="PPWCalculator" /><br /><br />
<span class="tab"></span><b>Source: <a href="https://github.com/ivanpop/PPWCalculator">Github</a></b>
<span class="tab"></span><b>Download: <a href="~/Resources/PPWCalculator.rar" target="_blank">Link</a></b><br /><br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Back</a>