@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
    ViewBag.Title = "Ryu: The Big Adventure!";
}

<h1>Ryu: The Big Adventure!</h1>
<h2>Description</h2>
<p><span class="tab"></span><strong>Ryu: The Big Adventure</strong> is simmilar to arcade games like <strong>Cadillacs and Dinosaurs, Contra, Metal Slug, Streets of Rage, Golden Axe</strong> and many others.</p>
<h2>Functions</h2>
<p>
    <span class="tab"></span>„Ryu: The Big Adventure” gives the user the chance to play a tipical horizontal Beat 'em up simulator. Beat 'em up is a computer game genre, which involves hand-to-hand combat between the main hero and numerous enemies. These type of games are mostly in 2D, where the player moves horizontaly to the right. These games are famous for they're easy to learn gameplay, with the first of this type of games dating from 1984.<br />
    <span class="tab"></span>When starting the game, the user goes in the role of Ryu, which have to beat all the enemies in the level.<br />
    <span class="tab"></span>Ryu is a superhero from video games, created by Capcom in 1987, which plays the main role in the Street Fighter series. He knows mixed martial arts and assassin skills. Also Ryu possesses some unique abilities in his arsenal.
</p>
<div class="center">
    <div style="display:inline-block;">
        <img src="~/Resources/ryu3.png" />&nbsp;
        <p style="text-align:center;"><b>Hadouken</b></p>
    </div>
    <div style="display:inline-block;">
        <img src="~/Resources/ryu1.png" />&nbsp;
        <p style="text-align:center;"><b>Shoryuken</b></p>
    </div>
    <div style="display:inline-block;">
        <img src="~/Resources/ryu2.jpg" />&nbsp;
        <p style="text-align:center;"><b>Tatsumaki</b></p>
    </div>
</div>
<ul>
    <li><p><strong>Hadouken</strong> - Translated „Fist of energy“. This is a projectile of energy, which Ryu shoots from his hands, to hit enemies from distance. To do this ability Ryu must have enough energy or MP (Magic Points).</p></li>
    <li><p><strong>Shoryuken</strong> - Translated „Rising dragon fist“, is another special ability, designet for close combat. Ryu uses his fist to shoots himself up and in that way to deliver a deadly upercut to his oponent, which is directly in front of him. Just like Hadouken Shoryuken also requires spirit energy.</p></li>
    <li><p><strong>Tatsumaki</strong> - Translated „Tornado“. Ryu haves the ability to jump and to perform a tornato from kicks while in midair. This is the most powerful attack that Ryu possesses and it requires most spirit energy.</p></li>
</ul>
<p>
    <span class="tab"></span>Spirit energy is displayed in the lower left corner of the screen, in the form of 8 blue rectangles. It's used when performing special moves. After being used, energy regenerates slowly over time. When the player doesn't have enough energy, he can't use special abilities.<br />
    <span class="tab"></span>Over the energy indicator there is another one, for the health of Ryu, described as HP. It's displayed in the same way, but with red rectangles. Unlike energy, health doesn't regenerate over time. To restore health Ryu must find food which is dropped randomly on the map. Health is taken when the player gets hit or when he goes through some obsticle like fire. When all of our health is depleted Ryu dies and the game ends.<br />
    <span class="tab"></span>Other than those two indicators there is alos time. Time is displayer at the bottom of the screen in the middle. It shows how much time we have to complete the level. When the time ends the game ends. We get more time by reaching certain part of the level.<br />
    <span class="tab"></span>There are also in-game options. The user can stop and start the sound of the game, to change the volume, to change the game difficulty and to quit at any time. The game can also be minimized.
</p>
<h2>Software limitations</h2>
<p><span class="tab"></span>To play Ryu: The Big Adventure we need JRE (Java Runtime Environment). JRE is available from Oracle's website. <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Link</a></p>
<h2>Acceptances and dependencies</h2>
<p>
    <span class="tab"></span>The source code can be found on GitHub, a web-based hosting service for source code management (SCM) and distributed revision control.<br />
    <span class="tab"></span>The project makes the assumption that GitHub, which is managed by third-party administration is accessible.<br />
    <span class="tab"></span>There is also the acceptance, that the users have compatible computer with Java Runtime Environment installed on it. At the moment of creating the project, The Java programming language is very popular and most computers have the required package installed, which helps the easy distribution of the game.
</p>
<h2>State diagram</h2>
<p>
    <span class="tab"></span>The state diagram shows how the game Ryu: The Big Adventure handles user commands.<br />
    <span class="tab"></span>The diagram is created using The Unified Modeling Language (UML), a general-purpose modeling language in the field of software engineering, which is designed to provide a standard way to visualize the design of a system
</p>
<img style="margin-left:auto;margin-right:auto;display:block;" src="~/Resources/ryu4.png" /><br />
<p><span class="tab"></span>There are 4 different states in the project - menu, options, credits and the game itself. We can see the ways we can pass through different states.</p>
<h2>Realization</h2>
<h3>User menu</h3>
<p><span class="tab">The first part of the project is to create a main menu.</span></p>
<img style="margin-left:auto;margin-right:auto;display:block;" src="~/Resources/ryu5.jpg" /><br />
<p><span class="tab"></span>The menu provides options to start a new game, to go to the settings screen, go ot the credits screen and exit the game. In the menu we can see the main character.</p>
<h3>Settings</h3>
<p>
    <span class="tab"></span>The options menu contains to tickable squares, for turning music and sounds on and off, two sliders for controling sound volume and an option to control game difficulty, also there is a back button.<br />
    <span class="tab"></span>In the settings menu I've used global variables, which are available in every class. They are declared in the main menu, can be changed in the settings menu and can be red from all states. This way sound and music can work in the same way in every part of the game.
</p>
<img style="margin-left:auto;margin-right:auto;display:block;" src="~/Resources/ryu6.jpg" /><br />
<p>
    <span class="tab"></span>Difficulty changes enemies health by increasing or decreasing it. When the difficulty is set on Hard, enemies are much harder and require much more effort to kill. To make this I've used a global variable named Difficulty, which can take three different numbers: 0 for Easy, 1 for Normal and 2 for Hard. At 0 health of enemies is decreased by 50% from normal, at 1 health isn't changed and at 2, it's increased by 50%.<br />
    <span class="tab"></span>The music slider uses the method music.setVolume(float volume); for changing music volume and music.getVolume(float volume); to read the current volume and to change it's state accordingly.<br />
    <span class="tab"></span>The sound slider uses it's own global variable unlike setVolume and getVolumе because sound volume is declared, at the moment they are played and can be different for every each sound. The global variable is declared in the main manu and it's named soundVolume. It's used every time a sound is played in the following way: punchedSnd.play(1, Menu.soundVolume);<br />
    <span class="tab"></span>In this command punchedSnd is been played using the method play. 1 is the pitch and the variable soundVolume is called from the menu class and sets the volume of the sound.<br />
    <span class="tab"></span>For the thicking squares I've used the variables soundOn and musicOn.
</p>
<h3>Credits</h3>
<p><span class="tab"></span>Credits is the most simple made state. It shows information about the creator of the game by sliding text through the screen. The text is actually an image which is moved up the screen</p><br />

<span class="tab"></span><b>Source: <a href="https://github.com/ivanpop/Ryu">Github</a></b>
<span class="tab"></span><b>Download: <a href="~/Resources/ryu.zip" target="_blank">Link</a></b><br /><br />
<div class="text-center">
    <div class="pages">
        @Html.ActionLink(HttpUtility.HtmlDecode("&#8656;"), "Ryu", new { id = 3 })
        <div class="selected-page">
            <a href="#top">1</a>
        </div>
        @Html.ActionLink("2", "Ryu", new { id = 2 })
        @Html.ActionLink("3", "Ryu", new { id = 3 })
        @Html.ActionLink(HttpUtility.HtmlDecode("&#8658;"), "Ryu", new { id = 2 })
    </div>
</div>
<br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; back</a>
