body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(110,196,2);
    background-image: -webkit-linear-gradient(top, rgb(15,85,172), rgb(110,196,2));
    background-image:    -moz-linear-gradient(top, rgb(15,85,172), rgb(110,196,2));
    background-image:      -o-linear-gradient(top, rgb(15,85,172), rgb(110,196,2));
    background-image:         linear-gradient(to bottom, rgb(15,85,172), rgb(110,196,2));
    background-repeat: no-repeat;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background: white;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.tab{
    padding: 0 15px;
}

hr{
    border:1px solid;
}

img {
    border: 1px solid black;
    margin-right: 30px;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url('../Resources/icon_top.png') no-repeat;
    background-color: #000;
}

.footer {
    text-align: center;
    background: rgb(34,34,34);
    color: rgb(236, 236, 236);
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a, a:hover {
    color: rgb(231,76,60);
}

#listing {
    margin: 1em 0;
}

i {
    color: #555;
}

#skypename{
    float: left;
    margin-top: 25px;
}