@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
    ViewBag.Title = "About me";
}

<h1>About me</h1>
<p>Hello,</p>
<p><span class="tab"></span>Hello</p>
<p><span class="tab"></span>Hello</p>
<p><span class="tab"></span>Hello</p>