@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
    ViewBag.Title = "About me";
}

@section ExtraHeadContent {
    <meta name="description" content="My name is Ivan Popov and I'm a computer programmer.This is my personal web page. Here you will find information about me and the projects I'm working on.My interests are mainly in the field of information technology, programming languages and their programming environments.">
}

<h1>About me</h1>
<p>Hello,</p>
<p><span class="tab"></span>My name is Ivan Popov and I'm a computer programmer.</p>
<p><span class="tab"></span>This is my personal web page. Here you will find information about me and the projects I'm working on.</p>
<p><span class="tab"></span>My interests are mainly in the field of information technology, programming languages and their programming environments.</p>