@{
    ViewBag.Title = "Converter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraHeadContent {
    <meta name="description" content="Програмата е написана на C# и представлява прост конвертор или преобразувател на мерни единици.Възможните мерни единици могат да се видят на изображението.">
    <meta name="author" content="Иван Попов">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>Converter</h1>
<p><span class="tab"></span>Програмата е написана на C# и представлява прост конвертор или преобразувател на мерни единици.Възможните мерни единици могат да се видят на изображението.</p>
<span class="tab"></span><img src="~/Resources/converter1.jpg" alt="Converter" /><br /><br />
<span class="tab"></span><b>Source: <a href="https://github.com/ivanpop/Converter">Github</a></b>
<span class="tab"></span><b>Download: <a href="~/Resources/converter.rar" target="_blank">Link</a></b><br /><br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Обратно</a>