@{
    ViewBag.Title = "Converter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Converter</h2>

<p>Програмата е написана на C# и представлява прост конвертор или преобразувател на мерни единици.Възможните мерни единици могат да се видят на изображението.</p>
<img src="~/Resources/converter1.jpg" alt="Converter" /><br /><br />
<b>Source: </b> <a href="https://github.com/ivanpop/Converter">Github</a><br />
<a href="~/Resources/converter.exe" target="_blank">Download</a>