@{
    ViewBag.Title = "C# For Dummies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>C# For Dummies</h1>

<h2>Глава 1. Въведение в програмирането</h2>
<span class="tab"></span>1. Запознайте се с Microsoft Visual Studio, Microsoft Developer Network (MSDN) Library Documentation. Инсталирайте<br /><br />
<span class="tab"></span>Упътване: Ако разполагате с DreamSpark акаунт или вашето училище или университет предлага безплатен достъп до продуктите на Microsoft, си инсталирайте пълната версия на Microsoft Visual Studio. Ако нямате възможност да работите с пълната версия на Microsoft Visual Studio, можете безплатно да си изтеглите Visual C# Express от сайта на Microsoft, който е напълно безплатен за използване с учебна цел.<br /><br />
<span class="tab"></span>Решение: Безплатна версия на Visual Studio може да бъде изтеглена от следния линк: <a href="http://www.visualstudio.com/en-us/products/free-developer-offers-vs" target="_blank"><b><u>Visual Studio</u></b></a><hr>
<span class="tab"></span>2. Да се намери описанието на класа System.Console в стандартната .NET API документация (MSDN Library). <br /><br />
<span class="tab"></span>Упътване: Може да направите търсене в Google – това добре и често пъти е най-бързият начин да намерим документацията за даден .NET клас.<br /><br />
<span class="tab"></span>Решение: Описание за дадения клас може да се намери на следния линк: <a href="http://msdn.microsoft.com/en-us/library/system.console%28v=vs.110%29.aspx" target="_blank"><b><u>Console Class</u></b></a><hr>
<span class="tab"></span>3. Да се намери описанието на метода System.Console.WriteLine() с различните негови възможни параметри в MSDN Library.<br /><br />
<span class="tab"></span>Упътване: Използвайте същия подход като в предходната задача.<br /><br />
<span class="tab"></span>Решение: Описание за дадения клас може да се намери на следния линк: <a href="http://msdn.microsoft.com/en-us/library/system.console.writeline%28v=vs.110%29.aspx" target="_blank"><b><u>Console.WriteLine Method</u></b></a><hr>
<span class="tab"></span>4. Да се компилира и изпълни програма за извеждане на “Hello C#” през командния ред (конзолата) и с помощта на Visual Studio.<br /><br />
<span class="tab"></span>Упътване: Създаваме файл с име HelloCSharp.cs, записваме програмата във файла, компилираме HelloCSharp.cs до файл HelloCSharp.exe и накрая изпълняваме HelloCSharp.exe<br /><br />
<span class="tab"></span>Решение: <br />
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(<span class="String">"Hello&nbsp;C#!"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span>5. Да се модифицира предходната програма, така че да изписва различно поздравление, например "Добър ден!".<br /><br />
<span class="tab"></span>Упътване: Използвайте кода на предходната програма и променете съобщението, което се отпечатва. Ако имате проблеми с кирилицата, сменете т. нар. System Locale с български от прозореца "Region and Language" в контролния панел на Windows.<br /><br />
<span class="tab"></span>Решение: <br />
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(<span class="String">"Добър&nbsp;ден"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span>6. Напишете програма, която изписва вашето име и фамилия на конзолата.<br /><br />
<span class="tab"></span>Упътване:  Потърсете как се използва метода <code>System.Console.Write()</code>.<br /><br />
<span class="tab"></span>Решение: <br />
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(<span class="String">"Ivan&nbsp;Popov"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span>7. Напишете програма, която извежда на конзолата числата 1, 101, 1001 на нов ред.<br /><br />
<span class="tab"></span>Упътване: Използвайте метода <code>System.Console.WriteLine()</code>.<br /><br />
<span class="tab"></span>Решение: <br />
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(<span class="String">"1"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(<span class="String">"101"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(<span class="String">"1001"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span>8. Напишете програма, която извежда на конзолата текущата дата и час.<br /><br />
<span class="tab"></span>Упътване: Потърсете какви възможности предлага класа <code>System.Math</code>.<br /><br />
<span class="tab"></span>Решение: <br />
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(<span class="String">"System.DateTime.Now"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span>9. Напишете програма, която извежда корен квадратен от числото 12345.<br /><br />
<span class="tab"></span>Упътване: Потърсете какви възможности предлага класа <code>System.DateTime</code>.<br /><br />
<span class="tab"></span>Решение: <br />
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.Console.WriteLine(Math.Sqrt(12345));<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span>10. Напишете програма, която извежда първите 100 члена на редицата 2,  -3, 4, -5, 6, -7, 8.<br /><br />
<span class="tab"></span>Упътване: Опитайте се сами да научите от интернет как се ползват цикли в C#.<br /><br />
<span class="tab"></span>Решение: <br />
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Statement">for</span>&nbsp;(<span class="ValueType">int</span>&nbsp;i&nbsp;=&nbsp;2;&nbsp;i&nbsp;&lt;&nbsp;103;&nbsp;i++)<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Statement">if</span>&nbsp;(i&nbsp;%&nbsp;2&nbsp;==&nbsp;0)&nbsp;Console.WriteLine(i);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="Statement">else</span>&nbsp;Console.Write(<span class="String">"-{0}"</span>,&nbsp;i);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span>11.   Направете програма, която прочита от конзолата вашата възраст и изписва (също на конзолата) каква ще бъде вашата възраст след 10 години.<br /><br />
<span class="tab"></span>Упътване: Използвайте методите <code>System.Console.ReadLine()</code> и <code>int.Parse()</code><br /><br /><span class="tab"></span>Решение: <br />
<span class="tab"></span>
<div class="code">
    <span class="ReferenceType">class</span>&nbsp;HelloCSharp<br />
    {<br />
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Modifier">static</span>&nbsp;<span class="ValueType">void</span>&nbsp;Main()<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Console.Write(<span class="String">"Enter&nbsp;your&nbsp;age:&nbsp;"</span>);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ValueType">int</span>&nbsp;age&nbsp;=&nbsp;<span class="ValueType">int</span>.Parse(Console.ReadLine());<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Console.WriteLine(<span class="String">"Your&nbsp;age&nbsp;after&nbsp;10&nbsp;years&nbsp;will&nbsp;be&nbsp;{0}"</span>,&nbsp;age&nbsp;+&nbsp;10);<br />
    &nbsp;&nbsp;&nbsp;&nbsp;}<br />
    }
</div>
<hr>
<span class="tab"></span><a href="javascript:history.back()">&#8592; Обратно</a>