@{
    ViewBag.Title = "C# For Dummies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>C# for Dummies</h1>

<table>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 1. Въведение в програмирането</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 2. Въведение в програмирането</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 3. Оператори и изрази</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 4. Вход и изход от конзолата</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 5. Условни конструкции</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 6. Цикли</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 7. Масиви</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 8. Бройни системи</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 9. Методи</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 10. Рекурсия</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 11. Създаване и използване на обекти</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 12. Обработка на изключения</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 13. Символни низове</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 14. Дефиниране на класове</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 15. Текстови файлове</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 16. Линейни структури от данни</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 17. Дървета и графи</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 18. Речници, хеш-таблици и множества</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 19. Структури от данни – съпоставка и препоръки</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 20. Принципи на обектно-ориентираното програмиране (ООП)</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 21. Качествен програмен код</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 22. Ламбда изрази и LINQ заявки</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 23. Как да решаваме задачи по програмиране?</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 24. Практически задачи за изпит по програмиране – тема 1</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 25. Практически задачи за изпит по програмиране – тема 2</b></p>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <p><b>&#9642; Глава 26. Практически задачи за изпит по програмиране – тема 3</b></p>
        </td>
    </tr>
</table>
<br />

<span class="tab"></span><a href="javascript:history.back()">&#8592; Обратно</a>