@{
    ViewBag.Title = "Folder Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ExtraHeadContent {
    <meta name="description" content="Програмата е написана на C# и автоматично принтира документи в определена папка.">
    <meta name="author" content="Иван Попов">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>Folder Print</h1>
<p><span class="tab"></span>Програмата е написана на C# и автоматично принтира документи в определена папка.</p>
<span class="tab"></span><img src="~/Resources/converter1.jpg" alt="Converter" /><br /><br />
<span class="tab"></span><b>Source: <a href="https://github.com/ivanpop/Folder-print">Github</a></b>
<span class="tab"></span><b>Download: <a href="~/Resources/converter.rar" target="_blank">Link</a></b><br /><br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Обратно</a>