@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Проекти";
}

<h1>Проекти</h1>
<span class="tab"></span><p>Тук съм показал някои от проектите върху които работя.</p><br />

<table>
    <tr>
        <td rowspan="4" width="40"></td>
        <td width="300" height="50">
            &#9642; @Html.ActionLink("Countdown timer & Stopwatch", "CountdownTimer", "Projects")
        </td>
        <td width="350">
            <i>Обратно броене и секундомер.</i>
        </td>
    </tr>
    <tr>
        <td height="50">
            &#9642; @Html.ActionLink("Ryu: The Big Adventure!", "Ryu", "Projects")
        </td>
        <td width="350">
            <i>2D Екшън игра написана на Java.</i>
        </td>
    </tr>
    <tr>
        <td height="50">
            &#9642; @Html.ActionLink("C# for Dummies", "CSharpForDummies", "Projects")
        </td>
        <td width="350">
            <i>Задачи от книгата за C# на Телерик.</i>
        </td>
    </tr>
    <tr>
        <td height="50">
            &#9642; @Html.ActionLink("Converter", "Converter", "Projects")
        </td>
        <td width="350">
            <i>Програма за преобразуване на мерни единици.</i>
        </td>
    </tr>
</table>