@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Проекти";
}

<h1>Проекти</h1>
<span class="tab"></span><p>Тук съм показал някои от проектите върху които работя.</p><br />

<table>
    <tr>
        <td rowspan="4" width="40"></td>
        <td width="300" height="50">
            &#9642; <a href="url">Countdown timer &amp; Stopwatch</a>
        </td>
        <td width="350">
            <i>Обратно броене и секундомер.</i>
        </td>
    </tr>
    <tr>
        <td height="50">
            &#9642; <a href="url">Ryu: The Big Adventure!</a>
        </td>
        <td width="350">
            <i>2D Екшън игра написана на Java.</i>
        </td>
    </tr>
    <tr>
        <td height="50">
            &#9642; <a href="url">C# for Dummies</a>
        </td>
        <td width="350">
            <i>Задачи от книгата за C# на Телерик.</i>
        </td>
    </tr>
    <tr>
        <td height="50">
            &#9642; <a href="url">Converter</a>
        </td>
        <td width="350">
            <i>Програма за преобразуване на мерни единици.</i>
        </td>
    </tr>
</table>