@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MVC Personal Website";
}

@section ExtraHeadContent {
    <meta name="description" content="Тук съм описал начина, по който съм направил моят сайт. Използвал съм .NET MVC технологията.">
    <meta name="author" content="Иван Попов">
    <meta name="thumbnail" content="http://localhost:49690/Resources/ivanpopov.jpg" />
    <link rel="image_src" href="http://localhost:49690/Resources/ivanpopov.jpg" />
}

<h1>MVC Personal Website</h1>
<p>
    <span class="tab"></span>MVC (Model-View-Controller) представлява начин за проектиране в програмирането, който разделя приложенията на три основни части - логиката на приложението (Модел), обработване на командите от потребителя (Контролер) и графичният интерфейс (Изглед).<br />
    <span class="tab"></span>Контролерът приема заявки от потребителя и ги преобразува в команди, които моделът трябва да обработи. Контролерът може да изпраща команди и към изгледа. Моделът е главният компонент от MVC. Той съхранява данните и правилата на приложението. Данните се поискват от контролера, обработват се в модела и се изобразяват в изгледа.<br />
    <span class="tab"></span>Предимството на този тип шаблон е че трите части могат да бъдат променяни поотделно. Един модел може да използва различни изгледи. Контролерът и изгледът могат да се променят без да се налага промяна в модела. Моделът може да бъде създаден независимо от другите две части.<br />
    <span class="tab"></span>Друго предимство е че почти цялото приложение се обработва от сървъра. Потребителя вижда само изгледа и изпраща заявки, под формата на линкове и попълнени уеб-форми. Заявките се приемат от контролера на сървъра, обработват се от модела и обновения изглед се изпраща обратно към него.<br />
</p>
<h2>Реализация</h2>
<p>
    <span class="tab"></span>При създаване на нов MVC проект, Visual Studio генерира нов шаблонен уебсайт, който съдържа начална страница, Home, About, Contact страници и функционалност за управление на потребителски акаунти.<br />
    <span class="tab"></span>Премахнал съм потребителските акаунти, защото няма да са нужни за моите цели.<br />
    <span class="tab"></span>В навигационното меню съм добавил опция за избиране между български и английски език, както и за увеличаване или намаляване на размера на шрифта.<br />
    <span class="tab"></span>Началната страница е изчистена и не съдържа слайдове, големи картинки, много скриптове или анимации. Това е с цел бързо първоначално зареждане на сайта и SEO оптимизация.<br />
    <span class="tab"></span>
</p>
<h3><a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank"><b>PageSpeed Insights - Google Developers</b></a></h3>
<img alt="MVCSite1" id="centerImg" src="~/Resources/MVCSite1.JPG" />
<br /><br /><br />
<h3><a href="https://validator.w3.org/" target="_blank"><b>The W3C Markup Validation Service</b></a></h3>
<img alt="MVCSite2" id="centerImg" src="~/Resources/MVCSite2.JPG" />
<br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Назад</a>