@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ryu: The Big Adventure!";
}

<h1>Ryu: The Big Adventure!</h1>
<h2>Описание</h2><br />
<p><span class="tab"></span><strong>Ryu: The Big Adventure</strong> е подобие на аркадните игри <strong>Cadillacs and Dinosaurs, Contra, Metal Slug, Streets of Rage, Golden Axe</strong> и още много други.</p>
<h2>Функции</h2><br />
<p><span class="tab"></span>Играта „Ryu: The Big Adventure” предоставя на потребителите възможността да играят на един типичен хоризонтален Beat 'em up симулатор. Beat 'em up е жанр в компютърните игри, който включва ръкопашен бой между главният герой и голям брой врагове. Игрите са най-често 2D, като героят се движи хоризонтално по нивото в посока надясно. Тези игри са познати с простия си и лесен за научаване геймплей, като първата подобна игра датира от 1984г.</p>
<p><span class="tab"></span>При стартиране на играта, потребителя влиза в ролята на героят Ryu, който има за цел да победи всички врагове в нивото.</p>
<p><span class="tab"></span>Ryu е герой от видео игри, създаден от Capcom още през 1987 година, играещ основна роля в Street Fighter серията. Той владее бойни изкуства смесени с изкуствата на убиец.Освен върховните си умения в ръкопашният бой, Ryu разполага и с някои уникални умения към арсенала си.</p>
<div class="center">
    <div style="display:inline-block;">
        <img src="~/Resources/ryu3.png" />&nbsp;
        <p style="text-align:center;"><b>Hadouken</b></p>
    </div>
    <div style="display:inline-block;">
        <img src="~/Resources/ryu1.png" />&nbsp;
        <p style="text-align:center;"><b>Shoryuken</b></p>
    </div>
    <div style="display:inline-block;">
        <img src="~/Resources/ryu2.jpg" />&nbsp;
        <p style="text-align:center;"><b>Tatsumaki</b></p>
    </div>
</div>
<ul>
    <li><p><strong>Hadouken</strong> - В превод „Юмрук от енергия“.Това е вълна от енергия, която Ryu изстрелва от ръцете си, за да покоси врагове, които се намират на разстояние от него. За да изпълни това умение Ryu трябва да има достатъчно вътрешна енергия или MP (Magic Points).</p></li>
    <li><p><strong>Shoryuken</strong> - В превод „Издигащ се драконов юмрук“, е друго специално умение, предназначено за близък бой. Ryu използва юмрука си за да се изстреля нагоре и така да нанесе убийствен ъперкът към противника, който се намира непосредствено до него. Както Hadouken и Shoryuken изисква вътрешна енергия.</p></li>
    <li><p><strong>Tatsumaki</strong> - В превод „Торнадо“. Ryu има умението да скочи и да изпълни торнадо от ритници докато е във въздуха. Това е най-силната атака на Ryu и изисква най-много вътрешна енергия.</p></li>
</ul>