@{
    ViewBag.Title = "C# For Dummies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>C# for Dummies</h1>

<table>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=1"><b>Глава 1. Въведение в програмирането</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=2"><b>Глава 2. Примитивни типове и променливи</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=3"><b>Глава 3. Оператори и изрази</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=4"><b>Глава 4. Вход и изход от конзолата</b></a>
</td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=5"><b>Глава 5. Условни конструкции</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=6"><b>Глава 6. Цикли</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=7"><b>Глава 7. Масиви</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=8"><b>Глава 8. Бройни системи</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=9"><b>Глава 9. Методи</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            &#9642; <a href="CSharpForDummies?page=10"><b>Глава 10. Рекурсия</b></a>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 11. Създаване и използване на обекти</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 12. Обработка на изключения</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 13. Символни низове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 14. Дефиниране на класове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 15. Текстови файлове</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 16. Линейни структури от данни</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 17. Дървета и графи</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 18. Речници, хеш-таблици и множества</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 19. Структури от данни – съпоставка и препоръки</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 20. Принципи на обектно-ориентираното програмиране (ООП)</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 21. Качествен програмен код</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 22. Ламбда изрази и LINQ заявки</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 23. Как да решаваме задачи по програмиране?</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 24. Практически задачи за изпит по програмиране – тема 1</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 25. Практически задачи за изпит по програмиране – тема 2</b>
        </td>
    </tr>
    <tr>
        <td width="40"></td>
        <td width="550" height="40">
            <b>&#9642; Глава 26. Практически задачи за изпит по програмиране – тема 3</b>
        </td>
    </tr>
</table>
<br />
<span class="tab"></span><a href="javascript:history.back()">&#8592; Обратно</a>