@{
    ViewBag.Title = "C# For Dummies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>C# For Dummies</h1>
<h2> Глава 4. Вход и изход от конзолата</h2><br />
<span class="tab"></span>1. Напишете програма, която чете от конзолата три числа от тип int и отпечатва тяхната сума.<br /><br />
<span class="tab"></span>Упътване: Използвайте методите Console.ReadLine() и Int32.Parse().<br /><br />
<span class="tab"></span>Решение: <br /><span class="tab"></span>
<img src="/Resources/CSResources/ch4-1.jpg"><hr>
<span class="tab"></span>2. Напишете програма, която чете от конзолата радиуса "r" на кръг и отпечатва неговия периметър и обиколка.<br /><br />
<span class="tab"></span>Упътване: Използвайте константата Math.PI и добре известните формули от планиметрията.<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-2.jpg"><hr>
<span class="tab"></span>3. Дадена фирма има име, адрес, телефонен номер, факс номер, уеб сайт и мениджър. Мениджърът има име, фамилия и телефонен номер. Напишете програма, която чете информацията за фирмата и нейния мениджър и я отпечатва след това на конзолата.<br /><br />
<span class="tab"></span>Упътване: Форматирайте текста с Write(…) или WriteLine(…).<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><a href="https://github.com/ivanpop/CS-for-Dummies/blob/master/Chapter%204%20Solution%203/Program.cs" target="_blank"><b><u>Link</u></b></a><hr>
<span class="tab"></span>4. Напишете програма, която отпечатва три числа в три виртуални колони на конзолата. Всяка колона трябва да е с широчина 10 символа, а числата трябва да са ляво подравнени. Първото число трябва да е цяло число в шестнадесетична бройна система, второто да е дробно положи­телно, а третото – да е дробно отрицателно. Последните две числа да се закръглят до втория знак след десетичната запетая.<br /><br />
<span class="tab"></span>Упътване: Използвайте форматиращите настройки, предоставени от съставното форматиране и метода Console.WriteLine().<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-4.jpg"><hr>
<span class="tab"></span>5. Напишете програма, която чете от конзолата две цели числа (int) и отпечатва, колко числа има между тях, такива, че остатъкът им от деленето на 5 да е 0. Пример: в интервала (17, 25) има 2 такива числа.<br /><br />
<span class="tab"></span>Упътване: Има два подхода за решаване на задачата:<br />
<span class="tab"></span><span class="tab"></span>Първи подход: Използват се математически хитрини за оптимизирано изчисляване, базирани на факта, че всяко пето число се дели на 5.<br />
<span class="tab"></span><span class="tab"></span>Вторият подход е по-лесен, но работи по-бавно. Чрез for цикъл може да се провери всяко число в дадения интервал. За целта трябва да прочетете от Интернет как се използва for цикъл.<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-5.jpg"><hr>
<span class="tab"></span>6. Напишете програма, която чете две числа от конзолата и отпечатва по-голямото от тях. Решете задачата без да използвате условни конструкции.<br /><br />
<span class="tab"></span>Упътване: По-голямото от двете числа можете да намерите с функцията Math.Max(a, b), а по-малкото с Math.Min(a, b).<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-6.jpg"><hr>
<span class="tab"></span>7. Напишете програма, която чете пет числа и отпечатва тяхната сума. При невалидно въведено число да се подкани потребителя да въведе друго число.<br /><br />
<span class="tab"></span>Упътване: Можете да прочетете числата в пет различни променливи и накрая да ги сумирате. При парсване на поредното число използвайте условно парсване с TryParse(…). При въведено невалидно число повторете четенето на число. Можете да сторите това чрез while цикъл с подходящо условие за изход. За да няма повторение на код, можете да раз­гледате конструк­цията за цикъл "for".<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><a href="https://github.com/ivanpop/CS-for-Dummies/blob/master/Chapter%204%20Solution%207/Program.cs" target="_blank"><b><u>Link</u></b></a><hr>
<span class="tab"></span>8. Напишете програма, която чете пет числа от конзолата и отпечатва най-голямото от тях.<br /><br />
<span class="tab"></span>Упътване: Трябва да използвате конструкцията за сравнение "if", за която можете да прочетете в Интернет.<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><a href="https://github.com/ivanpop/CS-for-Dummies/blob/master/Chapter%204%20Solution%208/Program.cs" target="_blank"><b><u>Link</u></b></a><hr>
<span class="tab"></span>9. Напишете програма, която чете коефициентите a, b и c от конзолата и решава уравнението: ax2+bx+c=0. Програмата трябва да принтира реалните решения на уравнението на конзолата.<br /><br />
<span class="tab"></span>Упътване: Използвайте добре познатия метод за решаване на квадратни уравнения. Разгледайте внимателно всички възможни случаи.<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><a href="https://github.com/ivanpop/CS-for-Dummies/blob/master/Chapter%204%20Solution%209/Program.cs" target="_blank"><b><u>Link</u></b></a><hr>
<span class="tab"></span>10. Напишете програма, която прочита едно цяло число n от конзолата. След това прочита още nна брой числа от конзолата и отпечатва тяхната сума.<br /><br />
<span class="tab"></span>Упътване: Четете числата едно след друго и натрупвайте тяхната сума в променлива, която накрая изведете на конзолата. <br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-10.jpg"><hr>
<span class="tab"></span>11. Напишете програма, която прочита цяло число n от конзолата и отпечатва на конзолата всички числа в интервала [1…n], всяко на отделен ред.<br /><br />
<span class="tab"></span>Упътване: Използвайте комбинация от цикли и методите Console.ReadLine(),Console.WriteLine() и Int32.Parse().<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-11.jpg"><hr>
<span class="tab"></span>12. Напишете програма, която отпечатва на конзолата първите 100 числа от редицата на Фибоначи: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, ...<br /><br />
<span class="tab"></span>Упътване: За решение на задачата използвайте 2 временни променливи, в които да пазите последните 2 пресметнати стойности и с цикъл пресмятайте останалите (всяко следващо число в редицата е сума от последните две).<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-12.jpg"><hr>
<span class="tab"></span>13. Напишете програма, която пресмята сумата (с точност до 0.001):1 + 1/2 - 1/3 + 1/4 - 1/5 + ...<br /><br />
<span class="tab"></span>Упътване: Натрупвайте сумата в променлива с цикъл и пазете старата сума, докато разликата между двете суми стане по-малка от точността (0.001).<br /><br />
<span class="tab"></span>Решение: <br />
<span class="tab"></span><img src="/Resources/CSResources/ch4-13.jpg"><br /><br /><hr>